.outer-box {
  background: #8093f1;
  padding: 5px;
  box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px #c2c6ca,
    inset -1px -1px #85898d, inset 2px 2px white;
  margin-top: 3rem;

  height: fit-content;
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.outer-box.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
.head-section {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #fdc5f5;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 1px;
}
.button-container {
  display: flex;
  gap: 5px;
}
.small-box-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  &:active {
    box-shadow: 0.5px 0.5px 0 0.5px white, inset 1px 1px black,
      inset -1px -1px #c2c6ca, inset 2px 2px #85898d;
  }
}
.small-box {
  border: 2px solid black;
  width: 7px;
  height: 7px;
  cursor: pointer;
}
.underscore {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &:active {
    box-shadow: 0.5px 0.5px 0 0.5px white, inset 1px 1px black,
      inset -1px -1px #c2c6ca, inset 2px 2px #85898d;
  }
}
.close-x {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &:active {
    box-shadow: 0.5px 0.5px 0 0.5px white, inset 1px 1px black,
      inset -1px -1px #c2c6ca, inset 2px 2px #85898d;
  }
}

.inner-box {
  border-radius: 1px;
  border: 1.2px solid black;
  clear: both;
  padding: 25px;
  background-color: #72ddf7;
}
