nav {
  display: flex;
  gap: 10px;
}

.Cheese > p {
  font-size: 18px;
  margin: auto;
}

@media (min-width: 1150px) {
  .dropdown-menu.MuiButtonBase-root {
    display: none;
  }
}
@media (max-width: 1150px) {
  .Cheese {
    display: none;
  }
}
@media (max-width: 500px) {
  .Cheese {
    display: none;
  }
  .title-of-site {
    font-size: 1.1rem;
  }
}
